/* stylelint-disable selector-pseudo-class-no-unknown */

@import './src/markdown';

$main-font-family: 'Helvetica Neue', helvetica, arial, sans-serif;
$main-font-color: #212121;

html,
body {
    color: $main-font-color;
    font-family: $main-font-family;
    line-height: 1.4;
    margin: 0;
    padding: 0;
}

:global {
    .main-wrapper {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        height: 100vh;
        overflow: hidden;
        padding: 16px;
        //align-items: center;
    }

    .top-content {
        display: block;
        flex-shrink: 0;
    }

    .text-area-list {
        align-items: stretch;
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        justify-content: space-between;
        overflow: auto;
        width: 100%;
    }

    .text-area {
        border: 1px solid #666;
        box-sizing: border-box;
        display: block;
        font-family: 'Lucida Grande', monospace;
        font-size: 16px;
        line-height: 1.4;
        margin: 0;
        min-height: 50vh;
        overflow: auto;
        padding: 8px;
        resize: none;
        width: calc(100% / 2 - 8px);
    }

    .setting-label {
        cursor: pointer;
        margin: 0;
        padding: 5px 0;
    }
}
