/* stylelint-disable selector-pseudo-class-no-unknown */

@import './src/markdown';

$main-font-family: 'Helvetica Neue', helvetica, arial, sans-serif;
$main-font-color: #212121;

body {
    color: $main-font-color;
    font-family: $main-font-family;
    line-height: 1.4;
}

:global {
    .header {
        padding-bottom: 16px;
    }

    .main-wrapper {
        display: block;
        padding: 8px;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p {
            margin: 0;
        }
    }

    .text-area {
        border: 1px solid #666;
        box-sizing: border-box;
        display: block;
        font-family: 'Lucida Grande', monospace;
        font-size: 16px;
        line-height: 1.4;
        margin: 0;
        min-height: 50vh;
        padding: 8px;
        resize: vertical;
        width: calc(100% / 3 - 8px);
    }

    .text-area-list {
        align-items: stretch;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
}
