/* stylelint-disable no-descending-specificity */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-max-compound-selectors */
/* stylelint-disable selector-pseudo-class-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable max-line-length */

/*
$main-link-color: #0366d6;
$main-background-color: #fff;
$main-hr-color: #eee;
$main-tr-odd-background-color: #f9f9f9;
$main-td-border-top-color: #ddd;
$main-blockquote-border-left-color: #eee;
$main-code-background-color: #f5f5f5;
$main-code-border-color: #ccc;
$main-code-color: #333;
$main-code-inline-background-color: #f9f2f4;
$main-code-inline-color: #c7254e;
*/

// default state
:global .md-pro {
    // main variables
    --main-line-height: 1.4;
    --main-font-size: 16px;
    --main-font-family: -apple-system, blinkmacsystemfont, 'Segoe UI', 'Noto Sans', helvetica, arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    --main-font-family-monospace: 'Lucida Console', 'Monaco', monospace;
    // theme relation variables
    --main-text-color: #111;
    --main-link-color: #0366d6;
    --main-background-color: #fff;
    --main-hr-color: #eee;
    --main-tr-odd-background-color: #f9f9f9;
    --main-td-border-top-color: #ddd;
    --main-blockquote-border-left-color: #eee;
    --main-code-background-color: #f5f5f5;
    --main-code-border-color: #ccc;
    --main-code-color: #333;
    --main-code-inline-background-color: #f9f2f4;
    --main-code-inline-color: #c7254e;
}

@media (prefers-color-scheme: light) {
    :global .md-pro {
        --main-text-color: #111;
        --main-link-color: #0366d6;
        --main-background-color: #fff;
        --main-hr-color: #eee;
        --main-tr-odd-background-color: #f9f9f9;
        --main-td-border-top-color: #ddd;
        --main-blockquote-border-left-color: #eee;
        --main-code-background-color: #f5f5f5;
        --main-code-border-color: #ccc;
        --main-code-color: #333;
        --main-code-inline-background-color: #f9f2f4;
        --main-code-inline-color: #c7254e;
    }
}

@media (prefers-color-scheme: dark) {
    :global .md-pro {
        --main-text-color: #eee;
        --main-link-color: #fc9929;
        --main-background-color: #212121;
        //--main-hr-color: #111;
        --main-tr-odd-background-color: #060606;
        //--main-td-border-top-color: #222;
        --main-blockquote-border-left-color: #888;
        --main-code-background-color: #0a0a0a;
        //--main-code-border-color: #333;
        --main-code-color: #ccc;
        --main-code-inline-background-color: #060d0b;
        --main-code-inline-color: #38dab1;
    }
}

:global .md-pro.md-pro-theme-light {
    --main-text-color: #111;
    --main-link-color: #0366d6;
    --main-background-color: #fff;
    --main-hr-color: #eee;
    --main-tr-odd-background-color: #f9f9f9;
    --main-td-border-top-color: #ddd;
    --main-blockquote-border-left-color: #eee;
    --main-code-background-color: #f5f5f5;
    --main-code-border-color: #ccc;
    --main-code-color: #333;
    --main-code-inline-background-color: #f9f2f4;
    --main-code-inline-color: #c7254e;
}

:global .md-pro.md-pro-theme-dark {
    --main-text-color: #eee;
    --main-link-color: #fc9929;
    --main-background-color: #212121;
    //--main-hr-color: #111;
    --main-tr-odd-background-color: #060606;
    //--main-td-border-top-color: #222;
    --main-blockquote-border-left-color: #888;
    --main-code-background-color: #0a0a0a;
    //--main-code-border-color: #333;
    --main-code-color: #ccc;
    --main-code-inline-background-color: #060d0b;
    --main-code-inline-color: #38dab1;
}

:global .md-pro {
    background-color: var(--main-background-color);
    display: block;
    font-family: var(--main-font-family);
    font-size: var(--main-font-size);
    line-height: var(--main-line-height);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    a,
    b,
    u,
    i,
    strike,
    sub,
    sup,
    hr,
    blockquote,
    code,
    table,
    thead,
    tbody,
    tr,
    th,
    td,
    ul,
    ol,
    li,
    img {
        color: var(--main-text-color);
        font-size: inherit;
        line-height: inherit;
        margin: 0;
        padding: 0;
        word-break: break-word;

        &:first-child {
            margin-top: 0;
        }
    }

    a {
        color: var(--main-link-color);
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

    b {
        font-weight: bold;
    }

    u {
        text-decoration: underline;
    }

    i {
        font-style: italic;
    }

    strike {
        text-decoration-line: line-through;
    }

    sub,
    sup {
        font-size: 0.75em;
        position: relative;
        vertical-align: baseline;
    }

    sub {
        bottom: -0.25em;
    }

    sup {
        top: -0.5em;
    }

    hr {
        background-color: var(--main-hr-color);
        border: 0;
        height: 1px;
        margin: 1.25em 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 600;
        margin-bottom: 10px;
        margin-top: 1.2em;
    }

    h1 {
        font-size: 2.25em; // should be 36px
    }

    h2 {
        font-size: 1.875em; // should be 30px
    }

    h3 {
        font-size: 1.5em; // should be 24px
    }

    h4 {
        font-size: 1.125em; // should be 18px
    }

    h5 {
        font-size: 0.875em; // should be 14px
    }

    h6 {
        font-size: 0.75em; // should be 12px
    }

    img {
        height: auto;
        margin-bottom: 0.5em;
        max-width: 100%;
    }

    p {
        margin-bottom: 0.65em;

        img {
            margin-bottom: 0;
            vertical-align: middle;
        }
    }

    ul,
    ol {
        margin: 0 0 0.65em;
        padding-left: 2.5em;
    }

    ul ul,
    ol ul,
    ul ol,
    ol ol {
        margin-bottom: 0;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        margin-bottom: 1.25em;
        max-width: 100%;
        width: 100%;
    }

    tbody {
        tr:nth-child(odd) {
            background-color: var(--main-tr-odd-background-color);
        }
    }

    th,
    td {
        font-weight: normal;
        padding: 0.5em;
    }

    th {
        vertical-align: bottom;
    }

    td {
        border-top: 1px solid var(--main-td-border-top-color);
    }

    blockquote {
        border-left: 5px solid var(--main-blockquote-border-left-color);
        font-size: 1.125em;
        margin: 0 0 0.65em;
        padding: 0.5em 1em;
    }

    code {
        background-color: var(--main-code-background-color);
        border: 1px solid var(--main-code-border-color);
        border-radius: 4px;
        color: var(--main-code-color);
        display: block;
        font-family: var(--main-font-family-monospace);
        margin: 0 0 0.65em;
        overflow: auto;
        padding: 0.6em;
        white-space: pre;
        word-break: break-all;

        &[data-type='inline'] {
            background-color: var(--main-code-inline-background-color);
            border-radius: 4px;
            color: var(--main-code-inline-color);
            display: inline;
            font-size: 0.9em;
            padding: 0.15em 0.3em;
        }
    }
}
